.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  width: 50%;
  border: 1px solid black;
  height: 100vh;
}

.hashtag {
  width: 30%;
  border: 1px solid black;
  height: 100vh;
}

.user {
  width: 20%;
  border: 1px solid black;
  height: 100vh;
}
