.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161d28;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #333a45;
  height: 100vh;
}

.hashtag {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid #333a45;
  height: 100vh;
}

.user {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 1px solid #333a45;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.logo:hover {
  cursor: pointer;
}

.egglogo {
  width: 50px;
  height: 50px;
  border-radius: 70px;
}

.avataruser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.egguser {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  justify-content: flex-start;
}

.buttonLogout {
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #333a45;
  border-radius: 20px;
  color: white;
  width: 90px;
  height: 30px;
  font-weight: bold;
}

.headerHome {
  display: flex;
  flex-direction: column;
}

.input {
  width: 75%;
  margin-left: 10%;
  border-bottom: solid 1px #333a45;
  background-color: transparent;
  height: 50px;
  color: white;
  font-size: 20px;
}

.botHeaderHome {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
  margin-right: 15%;
}

.buttonTweet {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #2e77c7;
  color: white;
  font-size: 20px;
  border: solid 1px transparent;
}
