.container {
    display: flex;
    height: 100vh;
  }
  
  .leftBackground {
    background-image: url('/BG.png');
    background-size: cover;
    background-position: center;
    flex: 0.45; /* Change this value to set the width to 45% */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftLogo {
    width: 20rem; /* Adjust this value to reduce the logo size */
    height: auto;
  }
  .rightBackground {
    background-color: #161D28;
    flex: 0.6; /* Change this value to set the width to 60% */
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  .logo {
    width: 40px; /*right logo Adjust*/
    height: auto;
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .smallText {
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .baseButton {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .signupBtn {
    background-color: dodgerblue;
    color: white;
    margin-bottom: 1rem;
    width: 20%;
    height: 2.5rem;
    font-weight: 600;
  }
  
  .signInBtn {
    background-color: transparent;
    color: dodgerblue;
    border: 1px solid white;
    width: 20%;
    height: 2.5rem;
    font-weight: 600;
  }
  